/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-image: url("../img/stars.jpg");
}

h1, h2 {
  font-weight: bold;
  color: #00698f;
}

a {
  text-decoration: none;
  color: #00698f;
}

a:hover {
  color: #0099cc;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 2vh;
}

/* Header Styles */

header {
  background-image: url("../img/stars.jpg");
  padding: 4vh;
  text-align: center;
  color: #fff;
}

header img {
  width: 20vw;
  height: auto;
  float: left;
  margin: 2vh;
  border-radius: 50%;
}

header h1 {
  margin-left: 25vw;
  display: inline-block;
}

header nav {
  display: inline-block;
  vertical-align: top;
  margin-left: 2vw;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 4vh;
}

nav li {
  margin-right: 4vw;
}

nav a {
  color: #fff;
}

nav a:hover {
  color: #ccc;
}

/* Main Styles */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vh;
}

section {
  background-color: #fff;
  padding: 4vh;
  margin-bottom: 4vh;
  box-shadow: 0 0 2vh rgb(4, 213, 250);
}


section h2 {
  font-size: 3.5vh;
  margin-bottom: 2vh;
}

#co2Chart, #methaneChart {
  width: 40vw;
  height: 20vh;
  margin: 4vh auto;
}
#map {
  height: 50vh;
  width: 100%;
  margin-bottom: 20px;
}

.get-involved {
  background-color: #f7f7f7;
  padding: 4vh;
}

.get-involved ul {
  padding: 4vh;
}

.get-involved li {
  margin-bottom: 2vh;
}

/* Carousel Styles */

.carousel {
  background-image: url("../img/stars.jpg");
  padding: 4vh;
  text-align: center;
  margin-bottom: 4vh;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.carousel button {
  background-color: #00698f;
  color: #333;
  border: none;
  padding: 2vh 4vw;
  font-size: 3.5vh;
 
}

.carousel button:hover {
  background-color: #fff;
  color: #00698f;
  
}

.carousel a {
  text-decoration: none;
  color: #fff;
}
video {
  width: 40vw; 
  height: 40vh; 
  margin: 10vh auto ; 

  border-radius: 1vh;  
  box-shadow: 0 0 2vh rgb(4, 213, 250);
}
/* Footer Styles */

footer {
  background-color: #333;
  color: #fff;
  padding: 2vh;
  text-align: center;
  clear: both;
}

footer p {
  margin-bottom: 2vh;
}